$primary: #e14500;

@mixin font-light {
  font-weight: 100;
}

@mixin font-default {
  font-weight: 400;
}

@mixin font-bold {
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP";
  font-style: normal;
}

.header {
  background-color: $primary;
  height: 75px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 24px;
  box-sizing: border-box;

  .header-item {
    margin: 3px;
  }
}

.hero {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: white;

  @media (max-width: 500px) {
    height: 40vh;
    margin-bottom: -60px;
  }

  h1 {
    @include font-light();
    padding-bottom: 1em;
    margin: 0;
    visibility: hidden;

    @media (max-width: 500px) {
      font-size: 5vw;
    }
  }

  #logo {
    width: 600px;
    max-width: 70vw;
    height: auto;
    z-index: 100;
    visibility: hidden;

    &.end {
      position: fixed;
      left: 25px;
      top: 25px;
      height: 25px;
    }
  }
}

.description {
  text-align: center;
  margin-bottom: 48px;
  padding: 0 24px;

  @media (max-width: 500px) {
    text-align: left;
  }
}

main {
  min-height: 100vh;

  #summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px;
    max-width: 800px;
    margin: auto;

    @media (max-width: 500px) {
      padding: 10vw;
    }

    h2 {
      margin: 24px;
      font-size: 40px;

      & > div {
        white-space: nowrap;
      }

      @media (max-width: 500px) {
        text-align: left;
        font-size: 6vw;
        width: 50%;
        margin: 0;
      }
    }

    img {
      margin: 24px;
      max-height: 50vh;
      width: auto;

      @media (max-width: 500px) {
        margin: 12px;
        width: 50%;
      }
    }
  }

  section.row {
    padding: 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;

    .text {
      text-align: center;
      .bold {
        @include font-bold();
        padding: 0 0.25em;
      }
    }

    &.right {
      .text {
        margin-left: 24px;
      }
    }

    &.left {
      .text {
        margin-right: 24px;
      }
    }

    img {
      width: 500px;
      max-width: 70vw;
      height: auto;
    }

    @media (max-width: 500px) {
      h2 {
        padding: 0;
      }

      .text {
        text-align: left;
      }

      &.left {
        flex-direction: column;
      }

      &.right {
        flex-direction: column-reverse;
      }

      &.right,
      &.left {
        .text {
          margin: 0;
        }
      }
    }
  }

  #categories {
    background-color: #fcece5;
  }

  #share {
    background-color: #e4fbfe;
  }

  #timeline {
    background-color: #eeeeee;
  }
}

footer {
  padding: 24px 0 48px;
  background-color: $primary;
  text-align: center;
  color: white;

  p {
    margin: 12px auto;
    color: white;
    @include font-light();
  }

  #footer-logo {
    width: 50vw;
    max-width: 300px;
    margin: auto;
  }

  h3 {
    margin: 0;
    padding: 0 12px;
    background-color: $primary;
    transform: translateY(-60%);
    @include font-light();
    position: absolute;
    top: 0;
  }

  .shares {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 350px;
    max-width: 70%;
    border: 1px solid white;
    margin-top: 48px;
    padding: 28px 12px 20px;
  }

  a {
    color: white;
  }
}

.copyright {
  background-color: #333;
  text-align: center;
  color: white;
  @include font-light();
  padding-bottom: 24px;
  font-size: 0.75em;

  .google-analytics {
    margin-top: 1rem;
  }

  p {
    margin: 0;
  }

  a {
    color: white;
  }

  .bold {
    @include font-default();
  }
}

img {
  display: block;
  width: auto;
  height: auto;
}

.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}

#follow {
  @include font-light();

  @media (max-width: 400px) {
    display: none;
  }
}

.download {
  background-color: #333;
  padding: 24px 0;

  .release-schedule {
    color: white;
    margin: 0 auto 12px;

    p {
      border: none;
      @include font-default();
    }
  }

  .stores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    p {
      margin: 12px auto 0;
    }

    & > div {
      margin: auto 6px;
      color: #aaa;

      @media (max-width: 500px) {
        margin: auto 6px;
      }

      img {
        height: 50px;
      }
    }
  }
}

.release-schedule {
  color: $primary;
  text-align: center;
  margin-top: 24px;
  @include font-bold();

  p {
    display: inline-block;
    margin: auto auto;
    padding: 6px 24px;
    border: 1px dashed $primary;
  }
}
