$primary: #e14500;

html,
body {
  padding: 0;
  margin: 0;
  font-family: kozuka-gothic-pro, sans-serif;
}

.header {
  background-color: $primary;
  height: 75px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 24px;
  box-sizing: border-box;

  .header-item {
    margin: 3px;
  }
}

.hero {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: white;

  @media (max-width: 500px) {
    height: 40vh;
    margin-bottom: -60px;
  }

  h1 {
    padding-bottom: 1em;
    margin: 0;
    font-weight: 200;
    visibility: hidden;

    @media (max-width: 500px) {
      font-size: 5vw;
    }
  }

  #logo {
    width: 600px;
    max-width: 70vw;
    height: auto;
    z-index: 100;
    visibility: hidden;

    &.end {
      position: fixed;
      left: 25px;
      top: 25px;
      height: 25px;
    }
  }
}

main {
  min-height: 100vh;

  h2 {
    margin: 0;
    padding: 24px 24px 12px;
    text-align: center;

    @media (max-width: 500px) {
      text-align: left;
    }
  }

  section.row {
    padding: 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;

    .text {
      text-align: center;
      .bold {
        font-weight: 900;
        padding: 0 0.25em;
      }
    }

    &.right {
      .text {
        margin-left: 24px;
      }
    }

    &.left {
      .text {
        margin-right: 24px;
      }
    }

    img {
      width: 500px;
      max-width: 70vw;
      height: auto;
    }

    @media (max-width: 500px) {
      h2 {
        padding: 0;
      }

      .text {
        text-align: left;
      }

      &.left {
        flex-direction: column;
      }

      &.right {
        flex-direction: column-reverse;
      }

      &.right,
      &.left {
        .text {
          margin: 0;
        }
      }
    }
  }

  #mock-tabs {
    width: 500px;
    max-width: 75%;
    margin: auto;
  }

  #categories {
    background-color: #fcece5;
  }

  #share {
    background-color: #e4fbfe;
  }

  #timeline {
    background-color: #eeeeee;
  }
}

footer {
  padding-top: 24px;
  background-color: $primary;
  text-align: center;
  p {
    margin: 12px auto;
    color: white;
    font-weight: 200;
  }

  #footer-logo {
    width: 50vw;
    max-width: 300px;
    margin: auto;
  }

  .downloads {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > div {
      margin: auto 24px;

      @media (max-width: 500px) {
        margin: auto 6px;
      }

      img {
        height: 50px;
      }
    }
  }
}

.copyright {
  background-color: $primary;
  text-align: center;
  color: white;
  font-weight: 200;
  padding-bottom: 24px;
  font-size: 0.75em;

  .bold {
    font-weight: 400;
  }
}

img {
  display: block;
  width: auto;
  height: auto;
}

.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}

#follow {
  font-weight: 200;

  @media (max-width: 400px) {
    display: none;
  }
}

.release-schedule {
  color: $primary;
  text-align: center;
  margin-top: 24px;
  font-weight: 900;

  p {
    display: inline-block;
    margin: auto auto;
    padding: 6px 24px;
    border: 1px dashed $primary;
  }

  &.footer {
    color: white;
    margin: 48px auto 12px;
    border-top: 1px dashed white;
    padding-top: 24px;

    p {
      border: none;
      font-weight: 400;
    }
  }
}
